# Ignorar todo
*

# Permitir únicamente los archivos y carpetas del proyecto
!MiProyecto/
!MiProyecto/**

# Ignorar artefactos de compilación y configuraciones locales
*.log
*.tmp
*.env
node_modules/
target/
bin/
.gradle/
.m2/
.vscode/